<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>{{.PageTitle}}</title>
    <style>
        body,h1 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
        .bgimg {
            background-image: url('https://storage.googleapis.com/balpgoweb.appspot.com/background.jpeg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">{{.PageTitle}}</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">{{.Info}}</p>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
        Google AppEngine Golang test by Anders.Arnholm@HiQ.se
    </div>
    <div class="w3-display-bottomright w3-padding-large" style="max-width:20%; max-height:20%;">
        <img src="https://storage.googleapis.com/balpgoweb.appspot.com/HiQ_logo_neg_snedstreck.png"
             class="w3-image w3-center" style="max-width:80%; max-height:80%;" />
    </div>
</div>


</body>
</html>